.bg-banner{
    
    height: 100vh;
    background-image: url('../images/desktop/image-hero.jpg');
    background-size: cover;
    background-position: center bottom;
}

/* a.underline-hover-effect {
  text-decoration: none;
  color: inherit;
} */

.underline-hover-effect {
  display: inline-block;
  padding-bottom: 0.25rem; /* defines the space between text and underline */
  position: relative;
}

.underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.25s ease-out;
}

@media (prefers-color-scheme: dark) {
  .underline-hover-effect::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.25s ease-out;
}
 
  }
.underline-hover-effect:hover::before {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
    path{ 
      fill: #ffffff;
   }
  }
