

.parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, 0);
}

@media screen and (max-width:1023px) {
    
    .parent {
  position: relative;
}
.child {
  position: absolute;
  top: 50%;
  left: 50%;
  /* right: 25%; */
  transform: translate(-50%, 0);
}
}
